<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head></head>

    <body>
        <h1>Nothing to see here</h1>

        <p th:if="${url}">
            <b>Page:</b> <span th:text="${url}">Page URL</span>
        </p>

        <p th:if="${timestamp}" id='created'>
            <b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
        </p>

        <p th:if="${status}">
            <b>There was an error:</b> <span th:text="${status}">status-code</span>
            <span th:if="${error}" th:text="'('+${error}+')'">error ...</span>
        </p>

        <p>
            <a th:href="@{/login}">Back to Login</a>
        </p>

    </body>
</html>