<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Login</title>
        <link th:href="@{/webjars/font-awesome/css/font-awesome.min.css}" rel="stylesheet" media="screen" />
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
        <link th:href="@{css/login.css}" rel="stylesheet" media="screen" />
    </head>
    <body>
        <form th:action="@{/login}" method="post" class="form col-md-12 center-block">
            <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="text-center text-primary">Login</h1>
                            <div th:if="${param.error}" class="text-center">
                                <span class="text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
                                <span class="text-danger">Invalid login</span>
                            </div>
                            <div th:if="${param.logout}" class="text-center">
                                <span class="text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
                                <span class="text-danger">You have been logged out</span>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="form-group has-feedback">
                                <input type="text" name="username" required="true" class="form-control input-lg" placeholder="Username" autofocus="true" />
                                <i class="glyphicon glyphicon-user form-control-feedback"></i>
                            </div>
                            <div class="form-group has-feedback">
                                <input type="password" name="password" required="true" class="form-control input-lg" placeholder="Password" />
                                <i class="glyphicon glyphicon-lock form-control-feedback"></i>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg btn-block center-block">Log In</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </body>
</html>