<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a data-toggle="tab" href="#searchParticipants">Search Participants</a></li>
    <li role="presentation"><a data-toggle="tab" href="#activityFacilitated">Facilitated Activity</a></li>
    <li role="presentation"><a data-toggle="tab" href="#activityHosted">Hosted Activity</a></li>
</ul>

<div class="tab-content">
    <div id="searchParticipants" class="tab-pane fade in active">
        <p>Some content.</p>
    </div>
    <div id="activityFacilitated" class="tab-pane fade">
        <p>Some content in menu 1.</p>
    </div>
    <div id="activityHosted" class="tab-pane fade">
        <p>Some content in menu 2.</p>
    </div>
</div>